* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box !important;
}

a {
  text-decoration: none !important;
}

.search-modal {
  width: 100%;
  height: 90%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(49, 49, 49, 0.8);
  z-index: 1111111111111;
}

.search-model-in {
  background-color: #fff;
  position: absolute;
  width: 100%;
  top: 0px;
  height: 250px;
  z-index: 99999999;
}
.search-model-in .search-modal-content {
  margin: 20px auto 0;
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.search-model-in .search-modal-content #x {
  font-size: 30px;
}
.search-model-in .search-modal-content h2 {
  margin-top: 25px;
}
.search-model-in .search-modal-content .search {
  margin-top: 20px;
  border: 1px solid rgba(128, 128, 128, 0.367);
  height: 40px;
  border-radius: 20px;
}
.search-model-in .search-modal-content .search input {
  width: 90%;
  height: 39px;
  border: none;
  outline: none;
  background-color: transparent;
}
.search-model-in .search-modal-content .search #search-icon {
  font-size: 20px;
}

:root {
  --background-color: #fff !important;
  --background-card-color: #fafafa !important;
  --text-color: black !important;
  --text1-color: #969696 !important;
  --webkit-filter: invert(0%) !important;
}

.dark-theme {
  --background-color: black !important;
  --background-card-color: #1a1a1a !important;
  --text-color: #fff !important;
  --text1-color: #fff !important;
  --webkit-filter: invert(100%) !important;
}

.container {
  width: 1176px;
  padding: 0;
}

#top-header {
  padding: 4px 0;
  background-color: var(--background-color);
}
#top-header #bar {
  display: none;
}
#top-header .ham-menu {
  width: 50px;
  height: 45px;
  border-radius: 100px;
  padding: 10px 10px;
  background-color: #f5f5f6;
  text-align: center;
  cursor: pointer;
}
#top-header .logo {
  margin-top: 13px;
}
#top-header .logo img {
  width: 44%;
}
#top-header .nav {
  margin-top: 12px;
}
#top-header .nav a {
  color: var(--text-color);
  font-size: 13px;
  font-weight: 400;
}
#top-header .type button {
  border: none;
  border-radius: 7px;
  padding: 5px 20px;
  background-color: #fff;
  font-size: 14px;
  background-color: var(--background-card-color);
  color: var(--text-color);
}
#top-header .type .active {
  color: #FF6400;
  border: 1px solid #FF6400;
  background-color: var(--background-card-color);
}
#top-header .lang a {
  background-color: var(--background-card-color);
  font-weight: 600;
  font-size: 12px;
  box-shadow: 0 2px 14px -8px rgba(0, 0, 0, 0.3);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-color);
  padding: 6px 12px;
  font-weight: 600;
  font-size: 12px;
  border-radius: 5px;
}
#top-header .theme a {
  padding: 4px 10px;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 2px 14px -8px rgba(0, 0, 0, 0.3);
  background-color: #323232;
  margin-right: 10px;
}
#top-header .theme a i {
  color: #fff;
  font-size: 14px;
}
#top-header .search a {
  cursor: pointer;
  box-shadow: 0 2px 14px -8px rgba(0, 0, 0, 0.3);
  width: 35px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  background: var(--background-card-color);
  border-radius: 5px;
}
#top-header .search a i {
  color: var(--text-color);
  font-size: 12px;
}

#bottom-header {
  background-color: var(--background-color);
  padding-top: 22px;
}
#bottom-header nav {
  margin-top: 15px;
}
#bottom-header nav p a {
  font-size: 18px;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 700;
}
#bottom-header .botom-right i {
  color: #FF6400;
  font-size: 18px;
}
#bottom-header .botom-right span {
  color: var(--text-color);
  font-weight: bold;
  font-size: 14px;
}
#bottom-header .botom-right .cart-count {
  position: absolute;
  top: -7px;
  right: -7px;
  background-color: #ff6400;
  padding: 1px 8px;
  border-radius: 50px;
  font-size: 11px;
  box-shadow: 0 2px 14px -8px rgba(0, 0, 0, 0.3);
}
#bottom-header .botom-right .basket {
  position: relative;
  padding: 8px 15px;
  border: 1px solid var(--text-color);
  border-radius: 15px;
}
#bottom-header .botom-right .contact,
#bottom-header .botom-right .internet {
  height: 45px;
  border: 1px solid var(--text-color);
  line-height: 20px;
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 25px;
}

#side-bar {
  background-color: #f5f5f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  gap: 15px;
  left: 0px;
  top: 65px;
  width: 100%;
  padding: 15px 0;
}
#side-bar .type .active {
  border: 1px solid #ff6400;
  color: #ff6400;
  padding: 6px 20px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  background-color: #fff;
  outline: 0;
  box-shadow: 0 2px 14px -8px rgba(0, 0, 0, 0.3);
}
#side-bar .type .nonactive {
  outline: 0;
  background-color: #fff;
  color: #323232;
  font-size: 12px;
  font-weight: 400;
  border: 2px solid #fff;
  padding: 6px 20px;
  box-shadow: 0 2px 14px -8px rgba(0, 0, 0, 0.3);
}
#side-bar .lang-drop a {
  font-weight: 600;
  font-size: 12px;
  box-shadow: 0 2px 14px -8px rgba(0, 0, 0, 0.3);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #323232;
  padding: 6px 12px;
  font-weight: 600;
  font-size: 12px;
  border-radius: 5px;
}
#side-bar .theme-drop a {
  padding: 4px 10px;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 2px 14px -8px rgba(0, 0, 0, 0.3);
  background-color: #323232;
  margin-right: 10px;
}
#side-bar .theme-drop a i {
  color: #fff;
  font-size: 14px;
}
#side-bar .search-drop a {
  cursor: pointer;
  box-shadow: 0 2px 14px -8px rgba(0, 0, 0, 0.3);
  width: 35px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  background: #fff;
  border-radius: 5px;
}
#side-bar .search-drop a i {
  color: #323232;
  font-size: 12px;
}
#side-bar .nav-drop p a {
  font-size: 18px;
  color: #000;
  text-decoration: none;
  font-weight: 700;
}
#side-bar .nav-2-drop a {
  color: #323232;
  font-size: 12px;
  font-weight: 400;
  opacity: 0.5;
}

@media (max-width: 576px) {
  body,
  html {
    overflow-x: hidden;
    max-width: 100%;
  }
  .img-des {
    position: relative !important;
    padding: 20px 30px !important;
    text-align: center;
  }
  .info {
    text-align: center;
    margin-left: 0.1rem !important;
  }
  .info .btn-and-title h4 {
    margin: 0 auto;
  }
  .info .btn-and-title a {
    position: absolute !important;
    bottom: 8px !important;
  }
  .container {
    padding: 0 !important;
    margin: 0 !important;
    width: 96% !important;
    margin-left: 7px !important;
  }
  #top-header {
    margin-bottom: -1px !important;
    background-color: var(--background-color);
    position: relative;
  }
  #top-header .top-header-right {
    display: none;
  }
  #top-header .media-phone {
    background-color: var(--background-card-color) !important;
    border-radius: 25px !important;
    display: inline-block !important;
    padding: 0% !important;
  }
  #top-header .media-phone i {
    color: #ff6400;
    font-size: 18px;
  }
  #top-header .media-phone i span {
    margin-right: 1rem !important;
  }
  #top-header .media-phone .contact {
    width: 85px;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 20px;
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 25px;
    color: var(--text-color);
  }
  .ham-menu {
    margin-left: 0 !important;
  }
  .box {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
  }
  .box .nav {
    display: none !important;
  }
  .box .logo {
    margin-top: 0 !important;
    margin-left: 3.5rem !important;
  }
  .box .logo img {
    width: 40% !important;
  }
  .top-box {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between;
  }
  .media-header {
    display: flex !important;
    flex-wrap: wrap !important;
    align-items: center !important;
    justify-content: space-between !important;
  }
  #bottom-header {
    display: none !important;
  }
  #bar {
    display: inline-block !important;
  }
  #options {
    display: none;
  }
  #media-lang {
    display: none;
  }
  #side-bar {
    z-index: 1 !important;
  }
}
@media (max-width: 576px) and (min-width: 576px) {
  #side-bar {
    display: none !important;
  }
}
#footersect {
  background-color: var(--background-color);
}
#footersect .footer-section {
  padding: 75px 0 60px;
}
#footersect .footer-section .menu {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
#footersect .footer-section .menu .up-footer {
  display: flex;
  text-decoration: none;
}
#footersect .footer-section .menu .up-footer a {
  line-height: 54px;
  font-family: CocoSharp, Arial;
  font-size: 14px;
  color: var(--text-color);
  font-weight: 700;
}
#footersect .footer-section .menu .down-footer {
  display: flex;
  text-decoration: none;
}
#footersect .footer-section .menu .down-footer a {
  font-size: 12px;
  color: var(--text-color);
  line-height: 35px;
  font-weight: 400;
}
#footersect .footer-section .text-end-footer {
  display: flex !important;
  align-items: center !important;
  gap: 10px !important;
}
#footersect .footer-section .text-end-footer .ic1,
#footersect .footer-section .text-end-footer .ic2 {
  background-color: #ff6400;
  width: 27px;
  height: 27px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footersect .footer-section .text-end-footer .ic1 i,
#footersect .footer-section .text-end-footer .ic2 i {
  color: white;
  font-size: 14px;
}
#footersect .footer-section .text-end-footer .icon-one {
  background-color: #a1a1a1;
  width: 27px;
  height: 27px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footersect .footer-section .text-end-footer .icon-one i {
  color: #fff;
  font-size: 14px;
}
#footersect .footer-section .footer-brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#footersect .footer-section .footer-brand .right-side {
  display: flex;
  align-items: baseline;
  gap: 20px;
  justify-content: flex-end;
}
#footersect .footer-section .footer-brand .right-side .icon-one-img {
  width: 90px;
  height: 55px;
}
#footersect .footer-section .footer-brand .right-side .small-img {
  width: 90px;
  height: 45px;
}
#footersect .footer-section .footer-brand .left-side p {
  color: var(--text-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
#footersect .footer-section .footer-brand .left-side span {
  color: var(--text-color);
  font-size: 12px;
}
#footersect .footer-section .footer-brand .right-side .other-img {
  width: 25%;
  height: 15%;
}

@media (max-width: 576px) {
  .footer-section {
    margin-bottom: -1px !important;
    padding-top: 1rem !important;
    padding-bottom: 10px;
  }
  .footer-section .menu {
    display: none !important;
  }
  .footer-section .menu a {
    text-decoration: none;
  }
  .footer-section .footer-int-platform {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px !important;
    padding-bottom: 5px;
  }
  .footer-section .right-side {
    display: flex !important;
    gap: 0.6rem !important;
  }
  .footer-section .right-side .right-side .other-img {
    width: 100% !important;
  }
  .footer-section .footer-brand {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
    text-align: center;
  }
  .footer-section .text-end-footer {
    padding-left: 0.8rem !important;
  }
}
#own-title {
  background-color: var(--background-color);
}
#own-title h3 {
  font-weight: 600;
  color: #FF6400;
  font-size: 30px;
  margin-bottom: 1rem;
}

#tabmenu {
  background-color: var(--background-color);
}
#tabmenu .non-active {
  background-color: var(--background-card-color);
  display: inline-block;
  padding: 11px 40px;
  margin-right: 10px;
  font-family: CocoSharp, Arial;
  font-weight: 700;
  font-size: 15px;
  color: rgb(161, 164, 185);
  border-radius: 25px;
  border: 2px solid rgb(161, 164, 185);
  position: relative;
  cursor: pointer;
}
#tabmenu .active1 {
  background-color: var(--background-card-color);
  display: inline-block;
  padding: 11px 40px;
  margin-right: 10px;
  font-family: CocoSharp, Arial;
  font-weight: 700;
  font-size: 15px;
  color: #FF6400;
  border-radius: 25px;
  border: 2px solid #FF6400;
  position: relative;
}
#tabmenu .active1::before {
  position: absolute;
  bottom: -4px;
  transform: rotateZ(-45deg) translate(-50%);
  width: 16px;
  height: 16px;
  border-left: 2px solid #FF6400;
  border-bottom: 2px solid #FF6400;
  content: "";
  left: 50%;
  background-color: #fff;
}

#videobar {
  background-color: var(--background-color);
}
#videobar .container .video-des iframe {
  margin-top: 1rem;
  border-radius: 15px;
  opacity: 0.5;
}

#feature-wrapper {
  background-color: var(--background-color);
  padding-top: 2rem;
  padding-bottom: 1rem;
}
#feature-wrapper .text-cent {
  background-color: var(--background-card-color);
  height: 60vh;
  text-align: center;
  border-radius: 10px;
  padding: 10px 60px;
  cursor: pointer;
}
#feature-wrapper .text-cent:hover {
  background-color: #FF6400;
  transition: 0.8s;
}
#feature-wrapper .text-cent:hover #ic-desc {
  color: #fff;
}
#feature-wrapper .text-cent:hover .name-design1 {
  color: #fff;
}
#feature-wrapper .text-cent:hover .parag-design {
  color: #fff;
}
#feature-wrapper .text-cent #ic-desc {
  margin-top: 2.5rem;
  font-size: 55px;
  color: #FF6400;
  text-align: center;
}
#feature-wrapper .text-cent .name-design1 {
  margin-top: 30px;
  font-family: CocoSharp, Arial;
  font-weight: 600;
  font-size: 20px;
  color: var(--text-color);
  line-height: normal;
  margin-bottom: 10px;
}
#feature-wrapper .text-cent .parag-design {
  font-family: CocoSharp, Arial;
  font-weight: 400;
  font-size: 14px;
  color: var(--text-color);
  line-height: 25px;
  text-align: center;
  text-align: center;
}

#two-mens-info {
  background-color: var(--background-color);
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#two-mens-info .mens-info {
  background-color: var(--background-card-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 45px 65px;
  border-radius: 10px;
  margin-bottom: 0;
  height: 60vh;
}
#two-mens-info .mens-info .img-men {
  width: 106px;
  height: 106px;
  border-radius: 50%;
}
#two-mens-info .mens-info .name-men {
  font-family: CocoSharp, Arial;
  font-weight: 700;
  font-size: 20px;
  color: var(--text-color);
  line-height: normal;
  margin-bottom: 5px;
  margin-top: 1rem;
}
#two-mens-info .mens-info .due-men {
  font-family: CocoSharp, Arial;
  font-weight: 400;
  font-size: 14px;
  color: var(--text1-color);
  line-height: normal;
}
#two-mens-info .mens-info .info-men {
  font-family: CocoSharp, Arial;
  font-weight: 400;
  font-size: 14px;
  color: var(--text-color);
  line-height: 1.43;
  margin-top: 15px;
}

#big-p-text {
  background-color: var(--background-color);
  padding-bottom: 1.5rem;
}
#big-p-text .big-text {
  background-color: var(--background-card-color);
  padding-bottom: 1rem;
  padding-top: 30px;
  border-radius: 15px;
  position: relative;
  padding: 38px 67px;
}
#big-p-text .big-text .big-text-name {
  font-size: 32px;
  line-height: 32px;
  font-weight: 800;
  color: #FF6400 !important;
  font-family: CocoSharp, Arial;
}
#big-p-text .big-text .big-text-1 {
  font-family: CocoSharp, Arial;
  font-weight: 400;
  font-size: 15px;
  color: var(--text-color);
  margin-top: 15px;
  line-height: 1.43;
  cursor: default;
}

#four-choose {
  background-color: var(--background-color);
}
#four-choose .icon-and-p {
  background-color: var(--background-card-color);
  text-align: center;
  padding: 30px 50px;
  background-color: #ff6400;
  height: 30vh;
  border-radius: 15px;
}
#four-choose .icon-and-p #check {
  font-size: 52px;
  color: #fff;
  line-height: 52px;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
}
#four-choose .icon-and-p .family {
  margin-top: 1rem;
  font-size: 15px;
  color: #fff;
  line-height: 1.43;
  font-family: CocoSharp, Arial;
  font-weight: 500;
  text-align: center;
}

#worth {
  background-color: var(--background-color);
  padding-top: 1rem;
}
#worth .name-and-parag {
  background-color: var(--background-color);
  height: 32vh;
}
#worth .name-and-parag .name-title {
  line-height: 20px;
  font-family: CocoSharp, Arial !important;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--text-color);
}
#worth .name-and-parag .parag-title {
  font-family: CocoSharp, Arial !important;
  font-weight: 400;
  font-size: 14px;
  color: var(--text-color);
  line-height: 23px;
}

#maps-title {
  background-color: var(--background-color);
  padding-bottom: 1rem;
}
#maps-title h3 {
  color: #FF6400;
  font-weight: 700;
  font-size: 28px;
  margin-left: 0.55rem !important;
}

@media (max-width: 576px) {
  #maps-title {
    margin-bottom: -1px !important;
  }
  #maps-title h3 {
    font-weight: 600 !important;
    color: #FF6400 !important;
    font-size: 30px !important;
    margin-bottom: 1rem !important;
    margin-left: 1rem !important;
  }
  .tab-menu-btn {
    margin-bottom: -1px !important;
    display: flex !important;
    overflow-y: auto;
    margin-left: 1rem !important;
  }
  .tab-menu-btn .non-active {
    display: inline-block !important;
    padding: 10px 20px !important;
    margin-right: 10px;
    font-family: CocoSharp, Arial;
    font-weight: 700;
    font-size: 12px !important;
    line-height: normal !important;
    text-align: center !important;
    white-space: nowrap;
  }
  .tab-menu-btn .active1 {
    display: inline-block !important;
    padding: 10px 20px !important;
    margin-right: 10px;
    font-family: CocoSharp, Arial;
    font-weight: 700;
    font-size: 12px !important;
    line-height: normal !important;
    text-align: center !important;
    white-space: nowrap;
  }
  .tab-menu-btn .active1::before {
    position: absolute;
    bottom: -4px;
    width: 16px;
    height: 16px;
    border-left: 2px solid #FF6400;
    border-bottom: 2px solid #FF6400;
    content: "";
    left: 50%;
    background-color: #fff;
  }
  .tab-menu-btn::-webkit-scrollbar-track {
    background-color: #fff !important;
  }
  .tab-menu-btn::-webkit-scrollbar-thumb {
    background-color: #FF6400 !important;
  }
  .tab-menu-btn::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  #videobar {
    margin-bottom: -1px !important;
  }
  #videobar .container .video-des iframe {
    margin-top: 0.5rem !important;
    border-radius: 15px !important;
    opacity: 0.5 !important;
    width: 94% !important;
    margin-left: 0.6rem !important;
    height: 200px !important;
  }
  #feature-wrapper {
    margin-bottom: -1px !important;
  }
  #feature-wrapper .text-cent {
    background-color: var(--background-card-color) !important;
    text-align: left !important;
    display: flex !important;
    height: 28vh !important;
    margin-left: 0.55rem !important;
    width: 94% !important;
    padding: 10px 30px !important;
  }
  #feature-wrapper .text-cent:hover {
    background-color: #FF6400 !important;
    transition: 0.8s !important;
  }
  #feature-wrapper .text-cent:hover #ic-desc {
    color: #fff !important;
  }
  #feature-wrapper .text-cent:hover .name-design1 {
    color: #fff !important;
  }
  #feature-wrapper .text-cent:hover .parag-design {
    color: #fff !important;
  }
  #feature-wrapper .text-cent #ic-desc {
    margin-left: 0 !important;
    margin-top: 3rem !important;
    font-size: 35px !important;
    color: #FF6400 !important;
  }
  #feature-wrapper .text-cent .name-design1 {
    font-family: CocoSharp, Arial !important;
    font-weight: 600 !important;
    font-size: 13px !important;
    color: var(--text-color) !important;
    margin-left: 0.8rem !important;
    margin-top: 10px !important;
  }
  #feature-wrapper .text-cent .parag-design {
    font-size: 12px !important;
    color: var(--text-color) !important;
    line-height: 15px !important;
    margin-left: 0.9rem !important;
    text-align: left !important;
  }
  #two-mens-info {
    margin-bottom: -1px !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  #two-mens-info .mens-info {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    border-radius: 10px !important;
    background-color: var(--background-card-color) !important;
    height: 60vh !important;
    width: 94% !important;
    margin-left: 0.55rem !important;
    align-items: flex-start !important;
    padding: 25px 40px !important;
  }
  #two-mens-info .mens-info .img-men {
    width: 106px !important;
    height: 106px !important;
    border-radius: 50% !important;
  }
  #two-mens-info .mens-info .name-men {
    line-height: 14px !important;
    font-family: CocoSharp, Arial !important;
    font-weight: 700 !important;
    font-size: 14px !important;
    text-align: left !important;
    margin-top: 1rem !important;
    opacity: 0.8 !important;
    color: var(--text-color) !important;
  }
  #two-mens-info .mens-info .due-men {
    line-height: 10px !important;
    font-family: CocoSharp, Arial !important;
    font-weight: 400 !important;
    font-size: 10px !important;
    text-align: left !important;
    opacity: 0.8 !important;
    color: var(--text-color) !important;
  }
  #two-mens-info .mens-info .info-men {
    margin-top: 0 !important;
    text-align: left !important;
    font-family: CocoSharp, Arial !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 15px !important;
    color: var(--text-color) !important;
    opacity: 0.8 !important;
  }
  #own-title {
    margin-bottom: -1px !important;
  }
  #own-title h3 {
    margin-left: 0.55rem !important;
  }
  #big-p-text {
    margin-bottom: -1px !important;
  }
  #big-p-text .big-text {
    width: 94% !important;
    margin-left: 0.55rem !important;
    padding: 25px 40px !important;
  }
  #big-p-text .big-text .big-text-name {
    font-size: 20px !important;
    color: #FF6400 !important;
    line-height: normal !important;
    font-weight: 800 !important;
    font-family: CocoSharp, Arial !important;
  }
  #big-p-text .big-text .big-text-1 {
    font-family: CocoSharp, Arial !important;
    font-weight: 300 !important;
    font-size: 13px !important;
    line-height: normal !important;
    color: var(--text-color) !important;
    margin-top: 15px !important;
    cursor: default !important;
    opacity: 0.8 !important;
  }
  #four-choose {
    margin-bottom: -1px !important;
  }
  #four-choose .icon-and-p {
    display: flex !important;
    padding: 20px 30px !important;
    background-color: #ff6400 !important;
    height: 15vh !important;
    border-radius: 15px !important;
    width: 94% !important;
    margin-left: 0.55rem !important;
  }
  #four-choose .icon-and-p #check {
    font-size: 38px !important;
    color: #fff !important;
    margin-left: 0 !important;
  }
  #four-choose .icon-and-p .family {
    margin-top: 0.2rem !important;
    font-size: 13px !important;
    color: #fff !important;
    line-height: 1.43 !important;
    font-family: CocoSharp, Arial !important;
    font-weight: 600 !important;
    text-align: left !important;
    margin-left: 0.5rem !important;
  }
  #worth {
    margin-bottom: -1px !important;
    padding-top: 1rem;
    padding-bottom: 1rem !important;
  }
  #worth .name-and-parag {
    height: 13vh !important;
    width: 94% !important;
    margin-left: 0.55rem !important;
  }
  #worth .name-and-parag .name-title {
    line-height: 14px !important;
    font-family: CocoSharp, Arial !important;
    font-weight: 700 !important;
    font-size: 14px !important;
    margin-bottom: 5px !important;
  }
  #worth .name-and-parag .parag-title {
    font-family: CocoSharp, Arial !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 13px !important;
  }
}/*# sourceMappingURL=humanresources.css.map */